.lf-core-marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}
.lf-core-marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}

.lf-core-marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}
.lf-core-marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}

.lf-core-marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}
.lf-core-marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}
.lf-core-marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}
.lf-core-marker-cluster div {
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.lf-core-marker-cluster span {
  line-height: 30px;
}
